BRHSingleLinkGeneFamilies/tmp
BRHSingleLinkGeneFamilies/data.out/families/*.fas

TranslatePipeline2/tmp
TranslatePipeline2/data.out/*
TranslatePipeline2/refs/*.idx

KaKs/tmp
KaKs/data.out/*

Ks_mixmodels/data.out/*

data.in/*
data.out/* 


*.aln
*.fas
.Rdata
*.Rout
*.gz
*.annot
*.idx 
*.dmnd
*.list

Plants.list
Plants2.list
PomaList.txt

RunPipe*
Poma.txt
GitUpdates.txt
Run_KaKs_Pipeline2.sh