BRHSingleLinkGeneFamilies/tmp
TranslatePipeline2/tmp
TranslatePipeline2/refs/*.idx
KaKs/tmp
data.in/*
data.out/* 

*.aln
*.fas
.Rdata
*.Rout
*.gz
*.annot
*.idx 
*.dmnd
*.list

Plants.list
Plants2.list
RunPipe*
Poma.txt
GitUpdates.txt
Run_KaKs_Pipeline2.sh